{{- if eq .chezmoi.os "linux" -}}

#!/bin/bash

# Disable the default shortcut keys for switching workspaces and monitors
gsettings set org.gnome.mutter.keybindings switch-monitor "['']"

{{- end -}}
