{{- if eq .chezmoi.os "linux" -}}

    #!/bin/bash

    set -euo pipefail

    FONT_URL="https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/CodeNewRoman.zip"
    FONT_NAME="CodeNewRoman"
    INSTALL_DIR="$HOME/.local/share/fonts"

    mkdir -p $HOME/Downloads/$FONT_NAME
    curl -L -o $HOME/Downloads/$FONT_NAME/$FONT_NAME.zip "$FONT_URL"

    unzip -o $HOME/Downloads/$FONT_NAME/$FONT_NAME.zip -d $HOME/Downloads/$FONT_NAME

    mkdir -p "$INSTALL_DIR"
    cp -v $HOME/Downloads/$FONT_NAME/*.otf "$INSTALL_DIR"/

    fc-cache -fv "$INSTALL_DIR"

{{- end -}}
