{{- if eq .chezmoi.os "linux" -}}

#!/bin/bash

# Enable Emacs Keybindings for GTK(Desktop) Applications
# You have to log out and log back in for the changes to take effect
# Reference: https://linuxfan.info/emacs-key-theme
gsettings set org.gnome.desktop.interface gtk-key-theme 'Emacs'

# Add xremap for Ubuntu
# https://github.com/xremap/xremap
cargo install xremap --features x11

systemctl --user start xremap.service
systemctl --user enable xremap.service

{{- end -}}
