{{- if eq .chezmoi.os "linux" -}}
modmap:
  - name: Swap Alt and Super
    remap:
      Alt_L: Super_L
      Super_L: Alt_L
      Alt_R: Super_R
      Super_R: Alt_R
keymap:
  - name: Default
    remap:
      Super-a: ALT-a
      Super-c: C-c
      Super-f: C-f
      Super-s: C-s
      Super-t: C-t
      Super-v: C-v
      Super-w: C-w
      Super-x: C-x
      Super-z: C-z

  - name: Terminal
    application:
      only: wezterm
    remap:
      Super-c: C-KEY_INSERT
      Super-v: C-Shift-KEY_INSERT
{{- end -}}
